html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.purple {
  color: #c678dd;
}

.green {
  color: #3d8a6b;
}

.orange {
  color: #c89a5e;
}

.red {
  color: #e05e5b;
}
